body {
    font-family: 'Work Sans', sans-serif;
}

/* :root {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
} */

header {
    background: rgba(255, 144, 14, 0.1);
    margin-bottom: 100px;
}

.head,
nav {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.head {
    margin-top: 102px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head-title {
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    width: 50%;
}

@media screen and (max-width: 576px) {
    .head-title {
        margin-bottom: 25px;
        font-weight: 500;
        font-size: 44px;
        text-align: center;
        width: 50%;
    }
}


.head-description {
    margin-bottom: 32px;
    text-align: center;
    width: 50%;
    color: #727272;
    font-weight: 400;
    font-size: 16px;
}

.head img {
    height: 100%;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 130px;
}

/* utilities */

.btn-primary {
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border-style: none;
    padding: 21px 25px;
}

.btn-secondary {
    background: #131313;
    height: 64px;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border-style: none;
    padding: 21px 25px;

}


/* Navigation bar design  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 25px; */
}

@media screen and (max-width: 576px) {
    nav {
        flex-direction: column;
    }

}

.nav-title {
    color: #131313;
    font-weight: 700px;
    font-size: 45px;
}

nav ul {
    display: flex;
    gap: 40px;
}

@media screen and (max-width: 576px) {
    nav ul {
        flex-direction: column;
        gap: 15px;
    }
}

nav li {

    list-style: none;
}

nav a {
    text-decoration: none;
    color: #424242;
    font-weight: 500;
    font-size: 18px;
}

/* ----------
    Main
------------- */

main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* .feature-section:root {} */

.feature-section {
    display: flex;
    align-items: center;
    gap: 75px;
    margin-bottom: 130px;
}

@media screen and (max-width: 576px) {
    .feature-section {
        flex-direction: column;
        align-items: center;
        gap: 75px;
        margin-bottom: 130px;
    }
}

.pictures {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    row-gap: 24px;
}

@media screen and (max-width: 576px) {
    .pictures {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 14px;
        row-gap: 14px;
    }
}

.feature-title {
    color: #727272;
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 24px;
}

.feature-description {
    color: #727272;
    font-weight: 100;
    font-size: 16px;
}

.sp1 {
    color: #131313;
}

.sp2 {
    color: #FF900E;
}

/* ----------------------- 
Love and enjoy section 
----------------------- */


.addition-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    border-left: 8px solid #FF900E;
    border-radius: 2px;
    padding-left: 10px;
}

.addition-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-top: -10px;
    margin-bottom: 24px;
}

.box {
    border: 0px solid;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px #e8e8e8;
    border-radius: 8px;
}

.addition-section {
    display: flex;
    gap: 40px;
}

@media screen and (max-width: 576px) {
    .addition-section {
        flex-direction: column;
        gap: 40px;
    }
}

.container img {
    position: relative;
}

.container .btn-big {
    /* position:relative; */
    top: 100%;
    left: 100%;
    transform: translate(-5%, -70%);

    font-weight: 500;
    font-size: 25px;
    padding: 12px 24px;
    border: none;
    background: #FF900E;

    color: #FFFFFF;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
}

@media screen and (max-width: 576px) {
    .container img {
        width: 100%;
    }

    .container .btn-big {
        font-weight: 500;
        font-size: 25px;
        padding: 12px 24px;
        border: none;
        background: #FF900E;
        transform: translate(10%, 0%);
        color: #FFFFFF;
        cursor: pointer;
        border-radius: 10px;
        text-align: center;
    }
    .btn-text {
        font-weight: 500;
        font-size: 40px;
    }
}

.btn-text {
    font-weight: 700;
    font-size: 65px;
}

/* --------------
    Facts section  
---------------*/

.facts {
    margin-top: 142px;
    margin-bottom: 150px;
}

.facts-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

.fact-description {
    margin-bottom: 70px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;

}

.factors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 110px;
    margin-left: 40px;
    /* max-width: 300px; */
}
@media screen and (max-width: 576px) {
    .factors {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 110px;
        margin-left: 0px;
        /* max-width: 300px; */
    }
}

.factor {
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
}

/* Sponsor section  */
.sponsor {
    text-align: center;
    margin-bottom: 130px;
}

.logos {
    display: flex;
    /* gap: 100px; */
    justify-content: space-between;
}

@media screen and (max-width: 576px) {
    .logos {
        flex-direction: column;
        gap: 10px;
    }
}

.logo img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

/* -------------------
    Hire Us Section 
------------------ --*/
.hire-us {

    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url('../images/Hire-us.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 700px;
    border-radius: 8px;
    /* inside work  */
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 576px) {
    .hire-us{
        flex-direction: column;
        
    }
}

.hire {
    font-weight: 600;
    font-size: 40px;
    /* text-align: center; */
}

.hire-des {
    font-weight: 400;
    font-size: 20px;
}

footer {
    padding: 5px;
    text-align: center;
    background: #FFF4E7;
    border-radius: 8px;
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;

}